.about-navbar{
    display: flex;
    margin-left: 10px;
}
.about-navbar li{
    margin-left: 10px;
}
.about-navbar h2{
    font-size: 20px;
    font-weight: bolder;
}
.header{
    color: orange;
    text-align: center;
    margin-top: 25px;
}